

/* div{
    height: 250px;
    background-color:purple ;
    color: white;
    font-size: 50px;
    margin: 20px;

} */


/* .row{
    background-color: orange;
    border: 3px solid rgb(110, 73, 5);
    padding: 5px;
    margin: 10px;

}

.col{
    background-color: #d40655;
    color: white;
    font-size: 50px;
    border: 2px solid #640328;
} */





/* .row{
    background-color: orange;
    border: 3px solid rgb(110, 73, 5);
    padding: 5px;
    margin: 10px;
}

.columna{
    color: white;
    font-size: 25px;
    background-color: #05077b;
    border: 5px solid white;

} */




/*icono*/
/* i{
    font-size: 250px;
    color: rgb(120, 182, 26);
} */




/* ========================================================================================================================= */

/*PARTE DEL PROYECTO*/



/* estilos generales */


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1{
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
}


/* barra de navegacion */
.navbar{
    padding: 2rem;
    background-color: #f5f6f7;  
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(114, 121, 127, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}




.navbar-collapse{
    align-items: center;
    justify-content: space-between  ;
}


/* adaptable responsivo */
@media screen and (max-width:767px){
    .navbar-brand{
        display: none;
    }
}

@media screen and (min-width : 700px){
    .hero-inferior-imagen{
        max-width: 600px;
    }

}


/* seccion hero */

.hero{
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-principal{
   padding: 3rem;
}   

.hero-imagen-desarollador{
    width: 200px;
    height: 200px;
    /* border-radius este lo hemos puesto con boostrap(rounded-circle) en el = elemento*/
    /* border-radius: 50%; */
    margin: 20px;

}

.hero-principal h2{
    font-size: 1.5rem;
    color: #615151;
  
}

.seccion-oscura{
    color: white;
    background-color: black;
}






/* sobre mi */

.sobre-mi{
    height: 500px;
    padding: 10px;
}

.sobre-mi .contenedor{
    max-width: 600px;
    text-align: center;
   
}


.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt',cursive;

}

.seccion-texto{
    font-size: 1.2rem;
}



/* ===================================== */
/* experiencia */

.experiencia{
    padding: 40px 40px 60px 40px;
}

.seccion-clara{
    color: black;
    background-color: white;
}


/* .experiencia .row div{
    height: 250px;
    background-color: #800080;
    border: 3px solid #e08e41;
} */

.experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
    

}

.experiencia i{
    font-size: 2.5rem;
    color: #7ad630;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}

.badges-contenedor{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 ;
   
}

.badge{
    margin: 5px;
}

/* .jesus p{
    width: 50%;
    height: 300px; */
    /* background-color: #740000; */
    /* background-color:#7403ab1a ; */
    /* background-color:#808080f2; */
    /* background-color:#ff000010; */
    /* background-color:#7403ab;
} */

.experiencia .columna{
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

.experiencia .columna:hover{
    color: white;
    background-color: #1b1b32;
}


/* proyectos */

.proyectos-recientes{
    padding: 40px;
}

.proyectos-recientes img{
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    display: block;
    transition: all 0.2s ease;
}

.texto-negro{
    color: black;
}
.texto-blanco{
    color: white;
}


.btn-dark{
    font-size: 1.1rem;
    margin: 20px;
    font-weight: bold;

}

.btn-dark i{
    /* background-color: #12121280; */
    color: #ffffff;
    background-color: #10101040;
    
}
.seccion-descripcion{
    font-size: 1.2rem;
    color: #584e46;

}

.proyectos-contenedor{
    
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay{
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.overlay p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}
.proyecto{
    position: relative;
}

.proyecto:hover img{
    opacity: 0.6;
}

.proyecto:hover .overlay{
    opacity: 1;
}

.overlay .iconos-contenedor{
    display: flex;
}

.overlay i{
    color: black;
    font-size: 60px;
    margin: 10px;
}


/* adaptable responsivo para la parte de proyectos*/


@media screen and ( max-width:400px){
    .overlay p{
        font-size: 18px;
    }
    .overlay i{
        font-size: 40px;
    }
}







/* articulos */

.articulos{
    min-height: 500px;
    padding: 30px;
}
.articulos .card{
    width: 80%;
    max-width: 600px;
    margin: 20px;

}

.card-header{
    font-weight: bold;
}


/* testimonios */

.testimonios{
    padding: 20px 20px 20px 20px;
}

.carousel{
    max-width: 800px;
}

.carousel-item{
    height: 500px;
}
.carousel-item .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonio-imagen{
    height: 150px;
    width: 150px;
    margin: 10px 10px 20px 10px;
}

.testimonio-texto{
    max-width: 70%;
    font-size: 20px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
}

.testimonio-info{
    font-weight: bold;
    text-align: center;
}

.testimonio-info p{
    margin-bottom: 0;
}

.testimonio-footer .cliente{
    font-size: 1.2rem;
}


.testimonio-info .cargo{
    font-size: 0.9rem;
    color: #656060;
}

@media screen and (max-width :800px){
    .testimonio-imagen{
        height: 120px;
        width: 120px;

    }
    .testimonio-texto{
        font-size: 18px;
    }
}



/* Contacto */
.contacto .container{
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.contacto .rectangulo{
    margin-top: -3rem;
    background-color: rgb(13,110,253);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}

.contacto .row{
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto button:hover{
    background-color: white;
    color: black;
}
.contacto button:hover i{
    color: black;
}

.contacto .descripcion{
    color: white;
    font-size: 1.2rem;
}

.contacto button{
    color: white;
    font-weight: bold;
    background: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.contacto button i{
    color: white;
    font-size: 1.3rem;
    transition: all 0. 0.2s ease-in-out;

}



@media screen and (max-width :700px){
    .seccion-titulo{
      font-size:1.42rem ;
    }
    .descripcion{
        font-size: 1rem;
    }
    .contacto button{
        padding: 1.12em 1.8em;
        margin: 10px;
    border-radius: 80px;
    }

}



/* pie de pagina */


footer{
    min-height: 500px;
}

.footer-logo{
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer-texto{
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
}


.iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;

}


.iconos-redes-sociales i{
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}


.iconos-redes-sociales a:hover{
    background-color: white;
    border: 2px solid rgb(13,110,253);

}

.iconos-redes-sociales a:hover i{
    color: black;

}

.derechos-de-autor{
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}